 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #022b3a;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
html {
    font-size: 10px;
}
html, body {
    height: 100%;
    width: 100%;
}

#logo {
    width: 86px;
    height: 80px;
    margin-bottom: 1rem;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;
    background-color: #e1e5f2;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

button {
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #1f7a8c;
    border: none;
    border-radius: 2rem;
    width: 28rem;
    height: 8rem;
    cursor: pointer;
    transition: ease-in 3ms;
}

button:hover {
    font-weight: 500;
    background-color: #145c66;
}


@media only screen and (min-width: 600px) {
    header {
        font-size: 1.8rem;
    }

}

@media only screen and (min-width: 768px) {
    header {
        padding: 1.8rem 0;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        font-size: 2rem;
    }
    .heading {
        margin-left: 10rem;
        flex: 1;
        align-self: center;
    }
    button {
        width: 30rem;
        height: 8rem;
    }
    main {
        gap: 4rem;
    }
}