* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #022b3a;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
html {
    font-size: 10px;
}
html, body {
    height: 100%;
    width: 100%;
}

#logo {
    width: 86px;
    height: 80=0px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.popup .pop-up-message {
    visibility: hidden;
    background-color: #bfdbf7;
    border: 2px solid #1f7a8c ;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
    
}

.popup .show {
    visibility: visible;
}

.container {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: #e1e5f2;
}

#logo {
    width: 86px;
    height: 80px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.head-top {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    font-size: 4.4rem;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f7a8c;
    min-width: 10rem;
}
.dropdown-content a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: 500;
}

.dropdown-content a:hover {
    background-color: #145c66;
}
.dropdown:hover .dropdown-content {display: block;}



.heading {
    text-align: center;
    font-size: 1.4rem;
}

.member-info {
    margin: 4rem 0;
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 8px;
}

li a {
    text-decoration: none;
}

.active {
    border: none;
    padding: 4px 8px;
    background-color: #145c66;
    cursor: pointer;
    font-weight: 500;
}

nav button {
    border: none;
    padding: 4px 8px;
    background-color: #1f7a8c;
    cursor: pointer;
    border-radius: 3px;
}
.search-ctn {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

input {
    width: 20rem;
    height: 2.4rem;
}

form button {
    height: 2.4rem;
}

table {
    font-size: 1.3rem;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
}

th {
    border-bottom: 1px solid #022b3a;
}

th, td {
    padding: 1rem;
}
#search {
    cursor: pointer;
}
button:hover:not(#search){
    background-color: #145c66;
    font-weight: 500;
}

table a:hover{
    color: #145c66;
    font-weight: 500;
}


.cal-active {
    background-color: #1f7a8c;
}


.month {
    width: fit-content;
    text-align: center;
    background-color: #1f7a8c;
}

#new {
    font-size: 1.4rem;
    margin-left: 3rem;
}

#new:hover {
    color: #145c66;
    font-weight: 500;
}

@media only screen and (min-width: 600px) {
    .heading {
        font-size: 1.8rem;
    }

    nav {
        margin-top: 5rem;
    }

    .active {
        padding: 8px 16px;
    }

    nav button {
        padding: 8px 16px;
    }
    table {
        font-size: 1.8rem;
    }
    input {
        width: 26rem;
        height: 3rem;
    }
    
    form button {
        height: 3rem;
    }

    .search-ctn {
        margin-top: 8rem;
    }

    .dropdown-content { min-width: 13rem;}
    .dropdown-content a {font-size: 1.4rem;}
}

@media only screen and (min-width: 768px) {
    .heading {
        font-size: 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 25% 75%; 
        grid-template-rows: 33.33% 33.33% 33.33%; 
        grid-template-areas: "side-bar search "
                            " side-bar table-sec"
                            " side-bar table-sec";

    }
    .search-ctn {
        grid-area: search;
        margin-top: 0;
        place-self: center;
    }
    .side-bar {
        grid-area: side-bar;
        padding-left: 1rem;
    }
    .table-sec {
        grid-area: table-sec;
    }


    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.6rem;
    }

    nav button {
        width: 24rem;
        height: 6rem;
    }

    th, td {
        padding: 1rem 2rem;
    }

    input {
        width: 38rem;
        height: 4rem;
    }
    
    form button {
        height: 4rem;
    }
    
    .dropdown-content { min-width: 14rem;}
    .dropdown-content a {font-size: 1.6rem;}
}